*{
  font-family: Avantgarde, sans-serif;
  color: #393939;
}
nav{
  display: flex;
  justify-content: space-around;
  margin-top: 1.5%;

}
body{
  background-color: #f2b4b3;
}
td{
  border: 2.2px solid #393939;
}

tr{
  border: 3px solid #393939;
}
table:nth-child(even) {
background: #ff8f5b;
}

table:nth-child(odd) {
  background: #b58ee5;
}
th{
  border: 2.2px solid #393939;
}

table{
  border: 3px solid #452d5c;
}

.newStand{
  font-size: 18px;
  border: 4px solid #452d5c;
  width: 60%;
  border-radius: 6px;
  text-align: center;
  padding: 2%;
  background-color: #fe894e;
  margin-left: auto;
  margin-right: auto;
}

.dataTable{
  width: 60%;
}
